@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.grid{
    height: 60%;
  margin: 10% auto;
  max-width: 27%;
  display: block;
  text-align: center;
  
}
.form_field{
position: absolute; 

}
.form_field i{
padding: 10px; 
          min-width: 70px; 
          
          z-index: 10;
}
.form__input{
  width: 100%; 
  border: 0;
  color: #dbdbdb;
height: 65px;
font-family: 'Poppins', sans-serif;
display: block;
font-size: 22px;
/* transition: all 0.30s ease-in; */
padding: 10px;
background: #242526;
/* border-radius: 10px; */
margin: 12px 0;

}

.form__input:focus{
  outline: none;
}

.lbutton{

margin-bottom: 10px;
font-size: 24px;
background: #b0b3b8;
height: 65px;
color: #2C2C2C;
text-align: center;
width: 100%;
cursor: pointer;
/* border-radius: 10px; */
font-weight:500;
font-family: 'Poppins', sans-serif;
}

.grid a{
font-size: 18px;
color: #e8b563;
text-decoration: none;
}

.grid p{
font-size: 15px;
font-weight: 300;
color: #b0b3b8;
font-family: 'Poppins', sans-serif;

}

@media (max-width:1200px){

  .grid{
    max-width: 35%;
}
}



@media (max-width:1000px){

  .grid{
    max-width: 40%;
}
}

@media (max-width:800px){

  .grid{
    max-width: 45%;
}
}
@media (max-width:600px){

  .grid{
    max-width: 50%;
}
}
